
<% provide( :title, "About") %>
<h1>About</h1>

<p>
  Twitter allows you to speak your mind and follow what others have to say.
  This Twitter Clone will build a microposting network from the ground up 
  using Ruby on Rails.
</p>
